In [6]:
# import modules / dependencies
import pandas as pd
import numpy as np

In [7]:
# load data / csv files - school
school_data = "schools_complete.csv"

# make a reference to the budget_data.csv file path
csv_path_1 = "schools_complete.csv"

# import the csv files as a dataframes
schools_df = pd.read_csv(csv_path_1, encoding="utf-8")

In [8]:
# show school column headers
schools_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [9]:
# load data / csv files - student
student_data = "students_complete.csv"

# make a reference to the budget_data.csv file path
csv_path_2 = "students_complete.csv"

# import the csv files as a dataframes
students_df = pd.read_csv(csv_path_2, encoding="utf-8")

In [10]:
# show students column headers
students_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [11]:
# need to merge tables together to get one data set
# outer join keeps all data
education_df = pd.merge(schools_df, students_df, on="school_name", how="outer")

In [12]:
# show education column headers
education_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget', 'Student ID',
       'student_name', 'gender', 'grade', 'reading_score', 'math_score'],
      dtype='object')

In [13]:
# Assignment 1: District Summary
# Create a high level snapshot (in table form) of the districtâ€™s key metrics, including:
# Total Schools, Total Students, Total Budget, Average Math Score, Average Reading Score,
# % Passing Math, % Passing Reading, Overall Passing Rate (Average of the above two)
# format style at end!

In [60]:
# list of schools
total_schools = education_df["school_name"].unique()

# total number of schools
total_schools_count = total_schools.shape[0]

In [61]:
# list of students
total_students = education_df["student_name"].count()

In [62]:
# unique school budgets *does not account for schools with same budget!**
# need to use a better method
school_budgets = education_df["budget"].unique()

# total budget
total_budget = school_budgets.sum()

In [63]:
# average math score
average_math = education_df["math_score"].mean()

In [64]:
# average reading score
average_read = education_df ["reading_score"].mean()

In [65]:
# students who passed math - passing is 70
pass_math = education_df.loc[education_df['math_score'] > 69].count()

#percentage of students who passed math
perc_pass_math = (pass_math / total_students)[0]*100

In [66]:
# students who passed reading - passing is 70
pass_read = education_df.loc[education_df['reading_score'] > 69].count()

#percentage of students who passed math
perc_pass_read = (pass_read / total_students)[0]*100

In [67]:
# passing rate (overall average score)
# i.e. (avg. math score + avg. reading score)/2
passing_rate = (average_math + average_read)/2

In [68]:
# create district summary table
district_summary_df = pd.DataFrame(
        {"Total Schools": [total_schools_count], "Total Students": [total_students],
        "Total Budget": [total_budget], "Average Math Score": [average_math],
        "Average Reading Score": [average_read], "% Passing Math": [perc_pass_math],
        "% Passing Reading": [perc_pass_read], "% Overall Passing Rate": [passing_rate]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [69]:
# format district summary table
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}%".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing Rate"] = district_summary_df["% Overall Passing Rate"].map("{:.2f}%".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,80.43%

In [24]:
# Assignment 2: School Summary
# Overview table that summarizes key metrics about each school, including:
# School Name, School Type, Total Students, Total School Budget, Per Student Budget, Average Math Score,
# Average Reading Score, % Passing Math, % Passing Reading, Overall Passing Rate (Average of the above two)

In [70]:
# GroupBy "school_name"
per_school = education_df.groupby(['school_name'])

In [71]:
# each school name
school = per_school['school_name'].first()

In [72]:
# school type per school
school_type = per_school['type'].first()

In [73]:
# total students per school
school_students = per_school["size"].size()

In [74]:
# budget per school
school_budget = per_school["budget"].mean()

In [75]:
# per student budget
student_budget = school_budget / school_students

In [76]:
# average math score per school
avg_math = per_school["math_score"].mean()

In [77]:
# average reading score per school
avg_read = per_school["reading_score"].mean()

In [78]:
# % passing math (70%)               
math_pass = education_df.loc[education_df['math_score'] > 69].groupby(["school_name"]).size()

# percentage of students per school who passed math
per_math_pass = (math_pass / school_students)*100

In [79]:
# % passing reading (70%)               
read_pass = education_df.loc[education_df['reading_score'] > 69].groupby(["school_name"]).size()

# percentage of students per school who passed math
per_read_pass = (read_pass / school_students)*100

In [80]:
# overall passing per school
school_pass_rate = (per_math_pass + per_read_pass)/2

In [81]:
# create data frame for school summary
school_summary_raw = pd.DataFrame(
        {"Type": school_type, "Total Students": school_students, "Total School Budget": school_budget, 
         "Per Student Budget": student_budget, "Average Math Score": avg_math, 
         "Average Reading Score": avg_read, "% Passing Math" : per_math_pass,
         "% Passing Reading" : per_read_pass, "% Overall Passing Rate": school_pass_rate})

In [82]:
# create data frame for school summary
school_summary_df = pd.DataFrame(
        {"Type": school_type, "Total Students": school_students, "Total School Budget": school_budget, 
         "Per Student Budget": student_budget, "Average Math Score": avg_math, 
         "Average Reading Score": avg_read, "% Passing Math" : per_math_pass,
         "% Passing Reading" : per_read_pass, "% Overall Passing Rate": school_pass_rate})

In [83]:
# format school summary table
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:.2f}%".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:.2f}%".format)
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("{:.2f}%".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:.2f}%".format)
school_summary_df["% Overall Passing Rate"] = school_summary_df["% Overall Passing Rate"].map("{:.2f}%".format)
school_summary_df

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.0,77.05%,81.03%,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356",$582.0,83.06%,83.98%,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","$1,884,411",$639.0,76.71%,81.16%,65.99%,80.74%,73.36%
Ford High School,District,"2,739","$1,763,916",$644.0,77.10%,80.75%,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","$917,500",$625.0,83.35%,83.82%,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635","$3,022,020",$652.0,77.29%,80.93%,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087",$581.0,83.80%,83.81%,92.51%,96.25%,94.38%
Huang High School,District,"2,917","$1,910,635",$655.0,76.63%,81.18%,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650.0,77.07%,80.97%,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858",$609.0,83.84%,84.04%,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999","$2,547,363",$637.0,76.84%,80.74%,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761","$1,056,600",$600.0,83.36%,83.73%,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635","$1,043,130",$638.0,83.42%,83.85%,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283","$1,319,574",$578.0,83.27%,83.99%,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","$1,049,400",$583.0,83.68%,83.95%,93.33%,96.61%,94.97%

In [84]:
# highlights top 5 performing schools based on Overall Passing Rate
best_df = school_summary_df.sort_values("% Overall Passing Rate", ascending=False)
best_df.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582.0,83.06%,83.98%,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130",$638.0,83.42%,83.85%,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500",$625.0,83.35%,83.82%,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858",$609.0,83.84%,84.04%,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578.0,83.27%,83.99%,93.87%,96.54%,95.20%

In [85]:
# highlights top 5 worst schools based on Overall Passing Rate
worst_df = school_summary_df.sort_values("% Overall Passing Rate")
worst_df.head()

,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637.0,76.84%,80.74%,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411",$639.0,76.71%,81.16%,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635",$655.0,76.63%,81.18%,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650.0,77.07%,80.97%,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916",$644.0,77.10%,80.75%,68.31%,79.30%,73.80%

In [86]:
# math averages by grade and school
math_avg_9 = education_df[education_df['grade']=='9th'].groupby('school_name')['math_score'].mean()
math_avg_10 = education_df[education_df['grade']=='10th'].groupby('school_name')['math_score'].mean()
math_avg_11 = education_df[education_df['grade']=='11th'].groupby('school_name')['math_score'].mean()
math_avg_12 = education_df[education_df['grade']=='12th'].groupby('school_name')['math_score'].mean()

In [87]:
# create data frame for math summary
math_summary_df = pd.DataFrame(
        {"9th Grade": math_avg_9, "10th Grade": math_avg_10, "11th Grade": math_avg_11, 
         "12th Grade": math_avg_12})

In [88]:
# format data frame for math summary
math_summary_df["9th Grade"] = math_summary_df["9th Grade"].map("{:.2f}%".format)
math_summary_df["10th Grade"] = math_summary_df["10th Grade"].map("{:.2f}%".format)
math_summary_df["11th Grade"] = math_summary_df["11th Grade"].map("{:.2f}%".format)
math_summary_df["12th Grade"] = math_summary_df["12th Grade"].map("{:.2f}%".format)
math_summary_df

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       77.08%     77.00%     77.52%     76.49%
Cabrera High School      83.09%     83.15%     82.77%     83.28%
Figueroa High School     76.40%     76.54%     76.88%     77.15%
Ford High School         77.36%     77.67%     76.92%     76.18%
Griffin High School      82.04%     84.23%     83.84%     83.36%
Hernandez High School    77.44%     77.34%     77.14%     77.19%
Holden High School       83.79%     83.43%     85.00%     82.86%
Huang High School        77.03%     75.91%     76.45%     77.23%
Johnson High School      77.19%     76.69%     77.49%     76.86%
Pena High School         83.63%     83.37%     84.33%     84.12%
Rodriguez High School    76.86%     76.61%     76.40%     77.69%
Shelton High School      83.42%     82.92%     83.38%     83.78%
Thomas High School       83.59%     83.09%     83.50%     83.50%
Wilson High School       83.09%     83.72%     83.20%     83.04%
Wright High School       83.26%     84.01%     83.84%     83.64%

In [89]:
# reading averages by grade and school
read_avg_9 = education_df[education_df['grade']=='9th'].groupby('school_name')['reading_score'].mean()
read_avg_10 = education_df[education_df['grade']=='10th'].groupby('school_name')['reading_score'].mean()
read_avg_11 = education_df[education_df['grade']=='11th'].groupby('school_name')['reading_score'].mean()
read_avg_12 = education_df[education_df['grade']=='12th'].groupby('school_name')['reading_score'].mean()

In [90]:
# create data frame for reading summary
read_summary_df = pd.DataFrame(
        {"9th Grade": read_avg_9, "10th Grade": read_avg_10, "11th Grade": read_avg_11, 
         "12th Grade": read_avg_12})

In [46]:
# format data frame for reading summary
read_summary_df["9th Grade"] = read_summary_df["9th Grade"].map("{:.2f}%".format)
read_summary_df["10th Grade"] = read_summary_df["10th Grade"].map("{:.2f}%".format)
read_summary_df["11th Grade"] = read_summary_df["11th Grade"].map("{:.2f}%".format)
read_summary_df["12th Grade"] = read_summary_df["12th Grade"].map("{:.2f}%".format)
read_summary_df

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School       81.30%     80.91%     80.95%     80.91%
Cabrera High School      83.68%     84.25%     83.79%     84.29%
Figueroa High School     81.20%     81.41%     80.64%     81.38%
Ford High School         80.63%     81.26%     80.40%     80.66%
Griffin High School      83.37%     83.71%     84.29%     84.01%
Hernandez High School    80.87%     80.66%     81.40%     80.86%
Holden High School       83.68%     83.32%     83.82%     84.70%
Huang High School        81.29%     81.51%     81.42%     80.31%
Johnson High School      81.26%     80.77%     80.62%     81.23%
Pena High School         83.81%     83.61%     84.34%     84.59%
Rodriguez High School    80.99%     80.63%     80.86%     80.38%
Shelton High School      84.12%     83.44%     84.37%     82.78%
Thomas High School       83.73%     84.25%     83.59%     83.83%
Wilson High School       83.94%     84.02%     83.76%     84.32%
Wright High School       83.83%     83.81%     84.16%     84.07%

In [91]:
# create table that breaks down school performances based on average Spending Ranges (Per Student)
# use 4 reasonable bins to group school spending 
# Include in the table each of the following:
# Average Math Score, Average Reading Score, % Passing Math, % Passing Reading, Overall Passing Rate

In [92]:
# new data frame based on school_summary_df
spending_df = school_summary_raw.loc[:,['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','% Overall Passing Rate','Per Student Budget']]

In [93]:
# set up bins
bins = [0, 585, 615, 645, 675]
group_name = ['0 - 584', '585 - 614', '615 - 644', '645 +']

In [94]:
# add a new column: spending range
spending_df["Spending Range"]= pd.cut(spending_df["Per Student Budget"],bins,labels=group_name)
spending_df

# create a group based off of the bins
spending_df = spending_df.groupby("Spending Range").mean()

In [95]:
# save as new data frame to clean up
spending_df_clean = spending_df

# delete Per Student Budget coluumn
spending_df_clean = spending_df.drop(columns="Per Student Budget")

# format data
# spending_df_clean["Spending Range"] = spending_df_clean["Spending Range"].map("${:,}".format) 
spending_df_clean["Average Math Score"] = spending_df_clean["Average Math Score"].map("{:.2f}%".format) 
spending_df_clean["Average Reading Score"] = spending_df_clean["Average Reading Score"].map("{:.2f}%".format) 
spending_df_clean["% Passing Math"] = spending_df_clean["% Passing Math"].map("{:.2f}%".format) 
spending_df_clean["% Passing Reading"] = spending_df_clean["% Passing Reading"].map("{:.2f}%".format) 
spending_df_clean["% Overall Passing Rate"] = spending_df_clean["% Overall Passing Rate"].map("{:.2f}%".format) 
spending_df_clean

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Range,,,,,
0 - 584,83.46%,83.93%,93.46%,96.61%,95.04%
585 - 614,83.60%,83.89%,94.23%,95.90%,95.07%
615 - 644,79.08%,81.89%,75.67%,86.11%,80.89%
645 +,77.00%,81.03%,66.16%,81.13%,73.65%

In [96]:
# Scores by School Size
# Repeat the above - but group schools based on a reasonable approximation of size 
# (Small, Medium, Large)

In [97]:
# new data frame based on school_summary_df
size_df = school_summary_raw.loc[:,['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','% Overall Passing Rate','Total Students']]

In [98]:
# set up bins
bins = [0, 1000, 2000, 5000]
group_name = ['small (<1000)', 'medium (1000-2000)', 'large (2000-5000)']

In [99]:
# add a new column: size range
size_df["Size Range"]= pd.cut(size_df["Total Students"],bins,labels=group_name)

# create a group based off of the bins
size_df = size_df.groupby("Size Range").mean()

In [100]:
# save as new data frame to clean up
size_df_clean = size_df

# delete Per Student Budget coluumn
size_df_clean = size_df.drop(columns="Total Students")

# format data
size_df_clean["Average Math Score"] = size_df_clean["Average Math Score"].map("{:.2f}%".format) 
size_df_clean["Average Reading Score"] = size_df_clean["Average Reading Score"].map("{:.2f}%".format) 
size_df_clean["% Passing Math"] = size_df_clean["% Passing Math"].map("{:.2f}%".format) 
size_df_clean["% Passing Reading"] = size_df_clean["% Passing Reading"].map("{:.2f}%".format) 
size_df_clean["% Overall Passing Rate"] = size_df_clean["% Overall Passing Rate"].map("{:.2f}%".format) 
size_df_clean

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Size Range,,,,,
small (<1000),83.82%,83.93%,93.55%,96.10%,94.82%
medium (1000-2000),83.37%,83.86%,93.60%,96.79%,95.20%
large (2000-5000),77.75%,81.34%,69.96%,82.77%,76.36%

In [101]:
# Scores by School Type
# Repeat by school type (Charter vs. District)
# new data frame based on school_summary_df
type_df = school_summary_raw.loc[:,['Average Math Score','Average Reading Score','% Passing Math', '% Passing Reading','% Overall Passing Rate','Type']]

In [102]:
# create a group based off type
type_df = type_df.groupby("Type").mean()

In [103]:
# save as new data frame to clean up
tpye_df_clean = type_df

# format data
tpye_df_clean["Average Math Score"] = tpye_df_clean["Average Math Score"].map("{:.2f}%".format) 
tpye_df_clean["Average Reading Score"] = tpye_df_clean["Average Reading Score"].map("{:.2f}%".format) 
tpye_df_clean["% Passing Math"] = tpye_df_clean["% Passing Math"].map("{:.2f}%".format) 
tpye_df_clean["% Passing Reading"] = tpye_df_clean["% Passing Reading"].map("{:.2f}%".format) 
tpye_df_clean["% Overall Passing Rate"] = tpye_df_clean["% Overall Passing Rate"].map("{:.2f}%".format)
tpye_df_clean

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Type,,,,,
Charter,83.47%,83.90%,93.62%,96.59%,95.10%
District,76.96%,80.97%,66.55%,80.80%,73.67%